*{
    font-family: system-ui;
    padding: 0;
    margin: 0;
    color: white;
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(#4e4e4e,#212121);
    padding-top: 60px;
    padding-bottom: 60px;
}

body div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #b8b8b880;
    border-radius: 15px;
    padding: 15px;
}
#ob{
    display: flex;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: space-evenly;
    height: auto;
    background: transparent;
}

body div div h3{
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

body h1{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
    color: white
}
body h1 span{
    color: #ffffff;
}
body h1 span span{
    color: #ff9900;
}
.btn{
    margin-bottom: 10px;
    display: inline-block;
    padding: 0.375em 1.25em;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.308);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
    font-weight: 800;
    justify-content: right;
    align-items: center;
    
}
.btn:hover{
    transform: scale(1.1);
}
.Input-Box{
    margin-bottom: 10px;
    color: black;
    background: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    width: 30vw;
    font-size: 20px;
}
.logo{
    height: 30%;
    transition: 0.6s;
}
body img:hover{
    transform: scale(1.1);
}
body h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
body h4 span a{
    color: #ff9900;
    text-decoration: none;
    transition: 0.4s;
}
body h4 span a:hover{
    color: #da8300;
}
.soc{
    height: 40px;
}
hr{
    width: 100%;
}
@media (max-width:1023px){
   body{
        padding-top:10px;
        padding-bottom: 10px;
    }
    body h1{
        font-size: 80px;
    }
    body div{
        width: 80%;
        height: auto;
        padding: 5px;
    }
    .Input-Box{
        width: 100%;
        height: auto;
        font-size: 60px;
    }
    #ob h3{
        font-size: 60px;
    }
    .logo{
        height: 20%;
    }
    .btn{
        font-size: 60px;
    }
    .soc{
        height: 100px;
    }
    body div h4{
        font-size: 50px;
    }
    hr{
        height: auto;
    }
}
@media (max-width:1880px){
    body{
         padding-top:10px;
         padding-bottom: 10px;
     }
     body h1{
         font-size: 80px;
     }
     body div{
         width: 80%;
         height: auto;
         padding: 5px;
     }
     .Input-Box{
         width: 100%;
         height: auto;
         font-size: 60px;
     }
     #ob h3{
         font-size: 60px;
     }
     .logo{
         height: 20%;
     }
     .btn{
         font-size: 60px;
     }
     .soc{
         height: 100px;
     }
     body div h4{
         font-size: 50px;
     }
     hr{
         height: auto;
     }
 }
